/*LINK ICON*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

  #navbar a {
    float: left;
    color: black;
  }
  
  #navbar a:hover {
    color: black;
    border-bottom: 1px solid red;
  }
  
  #navbar a.active {
    color: black;
    border-bottom: 1px solid red;
  }
  

#header {
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
  }
  
#section1{
    height: 100vh;
    background-image: url(https://sxcontent9668.azureedge.us/cms-assets/assets/Haven1_Hero_5_2600x1400_a23f540f5f.jpg);
    background-attachment: fixed; 
    background-size: cover;
    background-position: center;
}

#section2{
  background-color: white;
}

#section3{
    background-color: #f2f2f2;
}

#section4{
  background-color: white;
}

#section5{
  background-color: #f2f2f2;
}

#section6{
  background-color: black;
}

.capabilitiesTile {
  width: 100%;
  height: 50vh;
  max-height: 460px;
  min-height: 100px;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-decoration-none {
  text-decoration: none !important;
}

.capabilitiesTile:hover .capabilitiesImg:before,.capabilitiesTile:focus .capabilitiesImg:before {
  display: block
}

.capabilitiesTile:hover .capabilitiesImg, .capabilitiesTile:focus .capabilitiesImg {
  transform: scale(1.1);
}

.capabilitiesArrow {
  margin-bottom: 20px;
  z-index: 2;
  height: 2rem;
  width: 2rem;
  background-image: url('../img/arrow-right-solid-white.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 1.2rem;
}

.capabilitiesImg {
  width: 100%;
  height: 100%;
  background-color: #000; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  text-decoration: none;
  transition: all 1s;
  position: absolute;
  z-index: 1;
}

.capabilitiesImg::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.60)
}

a .capabilitiesImg:hover{
  background-color: gray;
}

.carousel-item-info-wrapper {
  position: absolute;
  bottom: 10%;
  top: auto!important;
  }

.capabilitiesText {
  margin: auto;
  z-index: 2;
}
.capabilitiesText h2 {
  text-align: center;
}

.actionButton, a.actionButton {
  color: #fff;
  text-transform: uppercase;
  background-color: #0360ae;
  padding: 12px 3rem 15px 15px;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #0360ae;
  display: inline-block;
  background-image: url('../img/arrow-right-solid-white.svg');
  background-repeat: no-repeat;
  background-position: right 1em center;
  background-size: 1rem;
}

.actionButton:hover {
    color: #0360ae;
    background-color: #fff;
    background-image: url('../img/arrow-right-solid-blue.svg');
}

.actionButton.inactive {
    color: #666;
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
    background-image: url('../img/arrow-right-solid-white.svg');
    cursor: default;
}


@media (min-width: 768px){
  .capabilitiesTile {
      height: 50vh;
  }
}

@media only screen and (max-width: 667px) {
    #section1{
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media only screen and (max-width: 653px) {
  #header{
    .img-fluid{
      width: 160px;  
    }
  }
}
